@import 'src/assets/styles/admin-page-base.scss';

.create-app {
    padding: 20px 0;

    .admin-client_form_infos {
        display: flex;
        flex-direction: column;

        .inline-block {
            display: flex;
        }
    }

    button {
        display: block;
        margin: 0 auto;
        font-size: 1.2em;
    }
}