<aside class="sidenav">
    <div class="container-sidenav">
        <header>
          <p class="title">
            DPI - OAuth Server
          </p>
        </header>

        <section class="links">
          <div *ngFor="let link of links">
            <div [ngClass]="pathActive === link.group ? 'link active': 'link'"
              [routerLink]="link.path"
              *ngIf="link.enabled === true">
                <mat-icon>{{ link.icon }}</mat-icon> <strong>{{ link.title }}</strong>
            </div>
          </div>
        </section>
    </div>
</aside>