<aside class="sidenav">
    <div class="container-sidenav">
        <header>
          <div class="logo">
            <img src="/assets/images/obt.png" alt="logo" />
          </div>
        </header>

        <section class="links">
          <div *ngFor="let link of links">
            <div [ngClass]="pathActive === link.group ? 'link active': 'link'"
              [routerLink]="link.path"
              (click)="changePage()"
              *ngIf="link.enabled === true">
                <mat-icon>{{ link.icon }}</mat-icon> <strong>{{ link.title }}</strong>
            </div>
          </div>
        </section>
    </div>
</aside>