<section class="conatiner_page-not_authorized" *ngIf="authorized === false">
    You are not allowed to access this resource!
</section>

<section class="container-page__admin" *ngIf="authorized === true">
    <!-- TITLE -->
    <div class="admin-title">
        <div class="title">
            <span class="title-group">users /</span>
            <span class="title-sub-group">Create</span>
        </div>
    </div>

    <form [formGroup]="formCreateUser"
        (ngSubmit)="create()"
        class="create-user">

        <div class="inline-block">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput
                    name="name"
                    formControlName="name"
                    [(ngModel)]="user.name">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput
                    name="email"
                    formControlName="email"
                    [(ngModel)]="user.email">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Institution</mat-label>
                <input matInput
                    name="institution"
                    formControlName="institution"
                    [(ngModel)]="user.institution">
            </mat-form-field>
        </div>

        <div class="inline-block">
            <mat-form-field appearance="fill">
                <mat-label>Occupation</mat-label>
                <input matInput
                    name="occupation"
                    formControlName="occupation"
                    [(ngModel)]="user.occupation">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput 
                    placeholder="password"
                    formControlName="password"
                    [(ngModel)]="user.password"
                    [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix type="button" (click)="hide = !hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Confirm Password</mat-label>
                <input matInput 
                    placeholder="confirm password"
                    formControlName="confirm_password"
                    [(ngModel)]="user.confirm_password"
                    [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix type="button" (click)="hide = !hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>

        <div class="inline-block" style="margin: 0 0 15px 15px">
            <mat-checkbox [(ngModel)]="user.admin" formControlName="admin">Is ADMIN?</mat-checkbox>
        </div>

        <button type="submit" mat-raised-button>
            CREATE USER
        </button>
    </form>

</section>