<section class="conatiner_page-not_authorized" *ngIf="authorized === false">
    You are not allowed to access this resource!
</section>

<section class="container-page__admin" *ngIf="authorized === true">
    <!-- TITLE -->
    <div class="admin-title">
        <div class="title">
            <span class="title-group">apps /</span>
            <span class="title-sub-group">Update</span>
        </div>
    </div>

    <form [formGroup]="formEditApp"
        (ngSubmit)="update()"
        class="edit-app"
        *ngIf="client">

        <!-- BOX FORM ADITIONAL INFOS -->
        <div class="admin-client_form_infos">
            <div class="inline-block">
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput
                        name="client_name"
                        formControlName="client_name"
                        [(ngModel)]="client.client_name"
                        required>
                </mat-form-field>

                <mat-form-field appearance="fill" style="margin-left: 5px;">
                    <mat-label>URI</mat-label>
                    <input matInput
                        name="client_uri"
                        formControlName="client_uri"
                        [(ngModel)]="client.client_uri"
                        required>
                </mat-form-field>
            </div>

            <div class="inline-block">
                <mat-form-field appearance="fill">
                    <mat-label>Type Secret</mat-label>
                    <mat-select 
                        [(ngModel)]="client.type_secret" 
                        formControlName="type_secret" 
                        required>
                        <mat-option *ngFor="let type of ['string', 'file']" [value]="type">
                            {{ type }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" style="margin-left: 5px;">
                    <mat-label>Secret</mat-label>
                    <input matInput
                        formControlName="client_secret"
                        [(ngModel)]="client.client_secret"
                        [type]="hide ? 'password' : 'text'"
                        required>
                    <button mat-icon-button matSuffix type="button" (click)="hide = !hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <div class="inline-block">
                <mat-form-field appearance="fill">
                    <mat-label>Redirect URI</mat-label>
                    <input matInput
                        name="redirect_uri"
                        formControlName="redirect_uri"
                        [(ngModel)]="client.redirect_uri"
                        required>
                </mat-form-field>
            </div>

            <button type="submit" mat-raised-button>
                UPDATE INFORMATIONS
            </button>
        </div>
    </form>

    <hr style="border: 1px dashed #666" />
        
    <div class="authors">
        <div class="label">
            Authors
        </div>

        <div class="author" *ngIf="authors !== undefined">
            <div class="list" *ngFor="let author of authors">
                <p>{{ author.name }}</p>

                <button 
                    mat-icon-button 
                    *ngIf="authors.length > 1"
                    (click)="openConfirmationDialog('Do you really want to remove the author:', author.name, 'remove', author._id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            
            <div class="add-new">
                <mat-form-field appearance="fill">
                    <mat-label>New Author</mat-label>
                    <mat-select [(value)]="author">
                        <mat-option *ngFor="let authorAvailable of authorsAvailable" [value]="authorAvailable._id">
                            {{ authorAvailable.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <button 
                    mat-mini-fab color="primary"
                    (click)="openConfirmationDialog('Do you really want to add the author?', null, 'add', null)">
                    <mat-icon>check</mat-icon>
                </button>
            </div>
        </div>
    </div>
        
</section>