<section class="page-login">
    <div class="form">
        <div class="thumbnail">
            <img src="/assets/images/obt.png" alt="logo" />
        </div>

        <app-alert *ngIf="error" [type]="error.type" [message]="error.message">
        </app-alert>

        <form class="forgot-form" *ngIf="view == 'password'">
            <label for="login-email">Digite seu e-mail</label>
            <input type="text" id="login-email" />
            
            <button>Enviar</button>
            <p class="message">Esqueceu sua senha? <a (click)="changeView('login')">Clique aqui</a></p>
        </form>

        <form class="login-form" 
            [formGroup]="formLogin" 
            (ngSubmit)="login()" 
            *ngIf="view == 'login'">
            
            <label for="login-input-user">Username</label>
            <input type="text" id="login-input-user" [(ngModel)]="username"
                formControlName="username" name="username" required />

            <label for="login-input-password">Password</label>
            <input type="password" id="login-input-password" name="password" 
                [(ngModel)]="password" formControlName="password" required />

            <button type="submit">Entrar</button>
            <p class="message">Esqueceu sua senha? <a (click)="changeView('password')">Clique aqui</a></p>
        </form>
    </div>

    <div class="container">
        <div class="info">
            <span><a href="http://www.obt.inpe.br/OBT" target="_blank"> &copy; OBT - Coordenação-Geral de Observação da Terra</a></span> 
        </div>
    </div>
</section>